body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #F7F3EC;
    color: #2E5432;
}

/* HEADER */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 20px;
}
.logo h1 {
    font-size: 28px;
    font-weight: 600;
}

/* HERO */
.hero {
    text-align: center;
}
.hero img {
    width: 100%;
    border-radius: 0 0 20px 20px;
    filter: brightness(0.90);
}
.hero-text h2 {
    margin-top: 20px;
    font-size: 28px;
    color: #2E5432;
}
.hero-text p {
    max-width: 650px;
    margin: auto;
    font-size: 17px;
    line-height: 1.8;
}

/* DESTINOS */
.destinos {
    padding: 40px 20px;
    text-align: center;
}
.destinos h3 {
    font-size: 24px;
}
.cards {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px 0;
}
.card img {
    width: 200px;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}
.card p {
    margin-top: 8px;
    font-weight: 600;
}

/* BOTON WHATSAPP */
.whatsapp {
    display: block;
    width: fit-content;
    margin: 40px auto;
    padding: 12px 28px;
    border-radius: 30px;
    background: #2E5432;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}
.whatsapp:hover {
    background: #1e3a22;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    border-top: 1px solid #d8caa2;
}
